<div class="container">
  <h1 class="title">Bootstrap</h1>
  <div class="alert alert-success">alertクラス</div>
    <nav class="menu">
      <ul class="row">
        <li class="col-md-4">top</li>
        <li class="col-md-4">menu</li>
        <li class="col-md-4">menu2</li>
      </ul>
    </nav>
  <article class="row">
    <div class="contents col-md-6">
      <ul class="row">
        <li class="col-sm-6 col-md-3">contents1</li>
        <li class="col-sm-6 col-md-3">contents2</li>
        <li class="col-sm-6 col-md-3">contents3</li>
        <li class="col-sm-6 col-md-3">contents4</li>
      </ul>
    </div>
    <div class="topic col-md-6">
      <ul>
        <li>bootstrapを使ったレスポンシブデザイン</li>
        <li>とりあえず使ってみる</li>
        <li>慣れが大切</li>
      </ul>
    </div>
  </article>
</div>